div#full {
    margin-top: -20px;
}

.tagline{
    position:fixed;
    bottom:160px;
    color:white;
    font-size:30px;
    font-family: 'Palatino Linotype';
    letter-spacing: 5px;
    text-align: center;
    width:100%;
    font-weight: bold;
}

.bg-image {
    background: url(../image/dahomeimage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

    background-position-x: 50%;
    background-position-y: 50%;

}

.about-image{
    background: url(../image/magnifier.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

    background-position-x: 50%;
    background-position-y: 50%;
}

.about{
    font-size: 20px;

}

.yscroll{
    overflow-y: auto;
}

.header-background{
    background-color:#E0FFFF; height:10%; width:100%
}

.header-text{
    color:black;
    font-family: "Segoe Script";
}

.header-text:hover{
    text-decoration: none;
}

.footer{
    position:center;
    bottom: 0px;
    text-align:center;
}

.about-footer{
    position:center;
    text-align:center;
}

.image-caption{
    text-align: center;
    width:100%;
    font-size: 20px;
}

.page-title {
    text-align: center;
    width:100%;
    font-size: 20px;
    margin:5px;
    color: #2B547E;
    font-family: "Palatino Linotype"
}

.staff-block{
    float:left;
    margin:15px;
}

.modal-dialog{
    background-color: white;
}

.centered{
    text-align: center;
    width: 100%;
}